body {
    flex-direction: column;
    background-color: #e4e3e3;
    margin: 0;
    padding: 0;
    /* Para asegurar que no haya relleno predeterminado */
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
}
nav {
    /*display: block;
    unicode-bidi: isolate;*/
    display: flex;
    justify-content: space-around;
    background-color: #ffffff; /* Color de fondo de la barra de navegación */
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: #000; /* Color del texto */
    padding: 10px 20px;
    border-radius: 15px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
    font-size: 18px; /* Tamaño de fuente más grande */
    margin: 0 15px; /* Separación entre las palabras */
}
nav a:hover {
    background-color: #1a3e4c; /* Color de fondo al pasar el ratón */
    color: #fff; /* Color del texto al pasar el ratón */
}
.header{
    display: flex;
    text-align: center;
    background-color: #1a3e4c;
    height: 300px;
}
.header_figure img {
    height: 300px;
    width: 450px;
    margin: 0;
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
    margin: 0;
}
figure{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin: 0;
}
h1{
    font-size: 3.3em;
    display: block;
    margin-block-start: 1.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    color: #ffffff;
    text-align: center;
}
h3{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    text-align: center;
    color: #ffffff;
    font-family: "Source Code Pro", monospace;
}
h2{
    color: #d76b1d;
    text-align: center;
}
body>section {
    margin-block-start: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px 30px;
}
.body-section{
    display: flex;
    padding: 25px;
    align-items: stretch;
    justify-content: space-between;
    background-color:#ffffff;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 133, 0.3);
}
#habilidades{
    flex-basis: 10%;
    flex-wrap: 40%;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    row-gap: 50px;
    justify-content: center;
}
#inicio{

}
#educacion{
    flex-basis: 40%;
    flex-grow: 1;
    display: flex;
    flex-direction:column;
    row-gap: 25px;
}

